

  h1 {
    color: black;
    margin-left: 0px;
    block-size: 100px;
    background-color: dodgerblue;
    text-align: center;
  }

  h2 {
    color: black;
    margin-left: 20px;
    text-align: center;
  }
  
  h3 {
    color: black;
    margin-left: 20px;
    text-align: center;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #dddddd;
  }