

  h1 {
    color: black;
    margin-left: 0px;
    block-size: 100px;
    background-color: dodgerblue;
    text-align: center;
  }

  h2 {
    color: black;
    margin-left: 20px;
    text-align: center;
  }
  
  h3 {
    color: black;
    margin-left: 20px;
    text-align: center;
  }
